*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    font-family: 'Sora', sans-serif;
}
ul{
    list-style: none;
}

header{
    height: 100vh;
    width: 100%;
    background-image: url("./images/gradient.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
a{
    text-decoration: none;
}

::-webkit-scrollbar {
	display: none;
}

#languageList{
    margin: 0;
    padding: 0;
}
.languageElement{
    padding: 10px;
}
.languageElement:hover{
    cursor: pointer;
    font-weight: bold;
}
#languageContainer{
    padding:0.5rem 1rem ;
    display: flex;
    justify-content: center;
    align-items: center;
}

#info{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    margin-top: 20px;
    width: 50%;
    display: flex;
    justify-content: center;
    color: white;
    font-weight:300;
}
h3{
    font-weight: bold;
    color: #3267b2;
}

.navbar{
    width: 100%;
}
#navLinks{
    margin-right: 20px;
}
#navLinks a{
    color: white;
}
.modal-dialog{
    max-width: 800px;
}
.modal-content{
    margin: 20px;
}
.dropdown-item{
    color: black !important;
}

.canvas-links{
    color: black;
}
.canvas-links:hover{
    color: black;
    background-color: lightgray;
}
.offcanvas-body{
    padding: 0;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 9999;
}
#btn-back-to-top:hover{
    cursor: pointer;
}

#scrollDown{
    opacity: 0.7; 
    margin-bottom:30px
}

#scrollDown:hover{
    opacity: 1;
    cursor: pointer;
}

#container{
    padding-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sectionContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
#carouselExampleSlidesOnly{
    flex: 1;
    margin-right: 30px;
}
.content{
    padding: 50px;
    width: 70%;
    text-align: justify;
    display: flex;
    justify-content: space-between;
    
}
.column-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}
#fieldContent,#mesocosmContent{
    width: 50%;
}
#firstImage{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#firstImageContainer{
    width: 100%;
}
#fieldSitesImage, #mesocosmImage{
    width: 100%;
    border-radius: 10px;
}

#membersContainer,#publicationsContainer{
    width: 100%;
}
.memberImage{
    border-radius: 50%; 
    width: 168px;
}
.memberImage:hover{
    cursor: pointer;
}
.container {
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
}

.members {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.member {
    text-align: center;
    flex-basis: 33%;
    padding: 24px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.member-name {
    margin: 0;
    margin-top: 12px;
    font-weight: 600;
    font-size: 24px;
    color: #3267b2;
}

.member-role {
    font-style: italic;
    font-size: 18px;
}
#accordionFlushExample{
    margin-top: 30px;
    width: 70%;
}
.accordion-button{
    font-weight: bold;
}
footer{
    background-image: url("./images/gradient.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


@media (max-width: 1200px){
    .content{
        flex-direction: column;
        width: 90%;
        padding: 0;
    }
    .column-content{
        width: 90%;
    }
    #carouselExampleSlidesOnly{
        margin: 0;
        margin-bottom: 30px;
    }
    #fieldContent,#mesocosmContent{
        width: 90%;
    }

    #accordionFlushExample{
        width: 90%;
    }
    #navLogo{
        width: 200px;
    }
    .container-fluid{
        padding-left: 0;
    }
    #simbol{
        width: 60px;
    }
    #welcomeInfo{
        font-size: 1.2rem;
    }
}