*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    font-family: 'Sora', sans-serif;
    background-color:#26272b;
}
ul{
    list-style: none;
}

header{
    height: 100vh;
    width: 100%;
    background-image: url("./images/gradient.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
a{
    text-decoration: none;
}


#languageList{
    margin: 0;
    padding: 0;
}
.languageElement{
    padding: 10px;
}
.languageElement:hover{
    cursor: pointer;
    font-weight: bold;
}
#languageContainer{
    padding:0.5rem 1rem ;
    display: flex;
    justify-content: center;
    align-items: center;
}

#info{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    margin-top: 20px;
    width: 50%;
    display: flex;
    justify-content: center;
    color: white;
    font-weight:300;
}
h3{
    font-weight: bold;
    color: #3267b2;
    text-align: center
}
.translate:hover{
    cursor: pointer;
}

.navbar{
    width: 100%;
}
#navLinks{
    margin-right: 20px;
}
#navLinks a{
    color: white;
}
.modal-dialog{
    max-width: 800px;
}
.modal-content{
    margin: 20px;
}
.dropdown-item{
    color: black !important;
    font-size: 15px;
}
#language-menu{
    min-width: 30px !important;
}

.canvas-links{
    color: black;
}
.canvas-links:hover{
    color: black;
    background-color: lightgray;
}
.offcanvas-body{
    padding: 0;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 9999;
}
#btn-back-to-top:hover{
    cursor: pointer;
}

#scrollDown{
    opacity: 0.7; 
    margin-bottom:30px
}

#scrollDown:hover{
    opacity: 1;
    cursor: pointer;
}

#container{
    padding-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    z-index: 1;
    -webkit-box-shadow: #000 0 7px 35px 0;
	-moz-box-shadow: #000 0 7px 35px 0;
	box-shadow: #000 0 7px 35px 0;
    background-color: #FFF;
}
.sectionContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
#carouselExampleSlidesOnly{
    flex: 1;
    margin-right: 30px;
}
.content{
    padding: 50px;
    width: 70%;
    text-align: justify;
    display: flex;
    justify-content: space-between;
    
}
.column-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}
#fieldContent,#mesocosmContent{
    width: 50%;
}
#firstImage{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#firstImageContainer{
    width: 100%;
}
#fieldSitesImage, #mesocosmImage{
    width: 100%;
    border-radius: 10px;
}

#membersContainer,#publicationsContainer,#projectsContainer,#conferencesContainer,#jobs{
    width: 100%;
}
#jobContainer{
    width: 75%;
}
.pic{
    border-radius: 50%; 
    width: 168px;
    overflow: hidden;
    position: relative;
}
.pic::after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(0,0,0,0.7);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease 0s;
}
.member .info {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    position: absolute;
    top: 45%;
    left: 0;
    z-index: 1;
    transition: all 0.5s ease 0s; 
}
.member:hover .pic::after, .member:hover .info{
    opacity: 1;
    cursor: pointer;
}
.info li{ 
    display: flex;
    justify-content: center;
    align-items: center;
 }
.info li i{
    display: block;
    line-height: 30px;
    border-radius: 50%;
    color: #fff;
    margin-right: 10px;
    transition: all 0.5s ease 0s;
}
.memberImage{
    border-radius: 50%; 
    width: 100%;
}
.institutionImage{
    width: 35%;
}
.companyImage{
    width: 25%;
    margin-right: 50px;
}
.avatar{
    border-radius: 50%;
    width: 68px;
}
.memberImage:hover{
    cursor: pointer;
}

.container {
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
}

.gridLayout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.member {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-basis: 33%;
    padding: 24px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.member-name {
    margin: 0;
    margin-top: 12px;
    font-weight: 600;
    font-size: 24px;
    color: #3267b2;
}

.member-role {
    font-style: italic;
    font-size: 18px;
}
#advisoryBoard,#news{
    padding: 0px 30px 0px 30px;
}
.advisor{
    font-size: 20px;
}
#accordionFlushExample{
    margin-top: 30px;
    width: 70%;
}
.accordion-button{
    font-weight: bold;
}


#site-footer{
    background-color:#26272b;
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    color:#737373;
	position: fixed;
	z-index: -1;
	left: 0;
	right: 0;
	bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
#site-footer hr.small
{
  margin:20px 0
}
#site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
#site-footer a
{
  color:#737373;
}
#site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
#site-footer .social-icons
{
  text-align:right
}

.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  #site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  #site-footer
  {
    padding-bottom:0
  }
  #site-footer .copyright-text,#site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none;
  display: flex;
  justify-content: space-around;
}
.social-icons li
{
  display:inline-block;
  margin-right:10px
}
.footerImage{
    width: 75px;
}
.footerImage:hover{
    cursor: pointer;
}
  

@media (max-width: 1200px){
    .content{
        flex-direction: column;
        width: 90%;
        padding: 0;
    }
    .column-content{
        width: 90%;
    }
    #carouselExampleSlidesOnly{
        margin: 0;
        margin-bottom: 30px;
    }
    #fieldContent,#mesocosmContent{
        width: 90%;
    }

    #accordionFlushExample{
        width: 90%;
    }
    #navLogo{
        width: 200px;
    }
    .container-fluid{
        padding-left: 0;
    }
    #simbol{
        width: 60px;
    }
    #welcomeInfo{
        font-size: 1.2rem;
    }
    .institutionImage{
        width: 45%;
    }
    .companyImage{
        margin: 10px;
    }
}
@media (max-width: 425px){
    #aboutFooter{
        display: none;
    }
}